
# vscode local stuff
/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json

# local dev compose-file
*.env

# binary temp files
*.gob 

# temp files
__debug_*
__pycache__
/gometeo

# AI
/.claude/
/instructions.txt
