<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>Application status</title>
  <!--    <link rel="stylesheet" href="style.css"> -->
  <style>
    .fastupdate {
      background-color: rgb(185, 237, 205);
    }
  </style>
</head>

<body>
  <div>
  mapStore.Updatable() = {{.Updatable}}
  </div>
  <table>
    <tr>
      <th>Carte</th>
      <th>LastHit</th>
      <th>Hits</th>
      <th>Mode</th>
      <th>Last update</th>
      <th>Next update</th>
    </tr>
    {{range .Stats}}
    <tr {{if (eq .UpdateMode "hot")}}class="fastupdate"{{end}}>
      <td><a href="{{.Path}}">{{ .Name}}</a></td>
      <td>{{ .LastHit}}</td>
      <td>{{ .HitCount}}</td>
      <td>{{ .UpdateMode}}</td>
      <td>{{ .LastUpdate}}</td>
      <td>{{ .NextUpdate}}</td>
    </tr>
    {{end}}
  </table>
</body>

</html>