<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow" />
  <meta 
  <title>Application status</title>
  <!--    <link rel="stylesheet" href="style.css"> -->
  <style>
    .fastupdate {
      background-color: rgb(185, 237, 205);
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <th>Carte</th>
      <th>Hits</th>
      <th>Mode</th>
      <th>Next update</th>
    </tr>
    {{range .}}
    <tr {{if (eq .UpdateMode "fast")}}class="fastupdate"{{end}}>
      <td>{{ .Name}}</td>
      <td>{{ .HitCount}}</td>
      <td>{{ .UpdateMode}}</td>
      <td>{{ .NextUpdate}}</td>
    </tr>
    {{end}}
  </table>
</body>

</html>