<!DOCTYPE html>
<html lang="fr-FR">
<head>
  <meta charset="utf-8">
  <script type="importmap">
    {
      "imports": {
        "vue": "/js/vue.esm-browser.js"
      }
    }
  </script>
  <script type="module" src="/js/main.js"></script>

  <!--   TODO : add gzip compression on static files -->

  <meta name="description" content="{{.HeadDescription}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{.HeadTitle}} </title>
  <link rel="stylesheet" href="css/leaflet.css" />
  <link rel="stylesheet" href="css/meteo.css" />
  <!-- Favicon stuff
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest"> -->
</head>

<body>
  <div id="vuejs_root">
    <!-- <header>
      <nav class="topnav">
        Gotemplate.Breadcrumb
      </nav>
      <section class="selecteurs">
        <data-picker></data-picker>
      <div>
        <timespan-picker></timespan-picker>
        <tooltips-toggler></tooltips-toggler>
      </div>
      <highchart-graph v-if="display_graph"></highchart-graph>
      </section>
    </header>
    <h2 style="color: rgb(43, 70, 226);">2024-08-18 : Tests en cours ...<P></P> </h2> 
    <main class="content">
      <div class="map_grid_container">
        <map-component v-for='rang in get_rangs' v-bind:key="rang" v-bind:rang="rang">Chargement...</map-component>
      </div>
    </main>
-->
  </div>

  <!--
  <script src="/js/vuex.js"></script>
  <script src="/js/vue.js"></script>
  <script src="/js/leaflet.js"></script>
  <script src="/js/highcharts.js"></script>
  <script src="/js/highcharts-debugger.js"></script>
  <script src="/Gotemplate.Path/data"></script>  -->
</body>

</html>
